/* RESET */

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

*{
  margin: 0px;
  padding: 0px;
}
h1, h2, h3{
  margin: 20px;
  margin-bottom: 0px;
}
textarea{
  border: 3px solid #000;
  vertical-align: middle;
}
.header a{
  margin: 10px;
  margin-top: 20px;
  vertical-align: top;
  display: inline-block;
  color: inherit;
  color: blue;
  text-decoration: underline;
}
.regDiv, .loginDiv{
  margin: 20px;
  margin-top: 48px;
  width: 325px;
  display: inline-block;
  border: 3px solid black;
  padding: 20px;
}
.regDiv{
  z-index: 999998;
}
.regDiv p{
  margin: 10px;
}
.loginDiv{
  z-index: 999998;
  padding: 20px;
  vertical-align: top;
}
.imprint{
  z-index: 999999;
  position: absolute;
  display: inline-block;
  background-color: white;
  margin: 30px;
}
.submit{
  width: 90px;
  margin: 20px;
  margin-left: calc(100% - 91px);
  background-color: lightgray;
  /*color: white;*/
  box-shadow: 3px 3px black;
  padding: 5px;
  font-size: 9pt;
}
.error{
  background-color: red;
  color: white;
  text-align: center;
  padding: 5px;
  border: 3px solid black;
  margin: 80px;
  width: 450px;
}
.addBook{
  margin: 40px;
  margin-bottom: 0px;
  width: 576px;
}
.regDiv label, .loginDiv label{
  display: inline-block;
  width: 150px;
  /*text-align: right;*/
  margin: 10px;
}
.addBook label{
  display: inline-block;
  width: 150px;
  margin: 20px;
}
.addReview{
  display: inline-block;
  vertical-align: top;
  margin: 20px;
  margin-left: 80px;
}
.success{
  margin: 20px;
  color: lightgreen;
}
.reviews{
  margin: 20px;
  width: 50%;
  display: inline-block;
}
.otherBooks{
  margin: 20px;
  display: inline-block;
  vertical-align: top;
}
.bookTitle{
  margin: 10px;
  margin-left: 25px;
  margin-bottom: 0px;
  display: block;
  color: inherit;
  color: blue;
}
.reviewInfo{
  margin-left: 60px;
}
.allBooks{
  margin: 10px;
  width: 400px;
  height: 250px;
  border: 3px solid #000;
  overflow: scroll;
}
.books{
  margin: 20px;
  margin-left: 60px;
}
#theReview{
  font-style: italic;
}
#welcome{
  display: inline-block;
  margin-right: 700px;
}
#addWelcome{
  display: inline-block;
  margin-right: 600px;
}
#addSubmit{
  margin-top: 80px;
  margin-left: calc(40% - 100px);
  box-shadow: 3px 3px black;
}
#rating{
  margin-top: 20px;
  margin-left: 60px;
  display: inline-block;
}
#rated{
  margin-top: 10px;
  margin-left: 60px;
  display: inline-block;
}
#reviewer{
  color: inherit;
  color: blue;
  display: inline-block;
  font-style: normal;
}
#del_reviewer{
  margin-left: 70px;
  color: inherit;
  color: blue;
  display: inline-block;
}
#allBooks{
  margin: 10px;
  color: inherit;
  color: blue;
  display: block;
}
#bookReview{
  display: block;
}
#inline{
  font-style: italic;
  display: inline-block;
}
/*#theReview{
  display: inline-block;
}*/
/*.headliner{
  margin: 20px;
  display: inline-block;
}*/

/*#headmsg{
  position: relative;
}
h2{
  margin-bottom: 20px;
}*/
/****** Style Star Rating Widget *****/
/* Modified for both before and after form capture (rating / rated) */
.rating {
  border: none;
  float: left;
}
.stars{
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
 float: right;
}

.rated {
  border: none;
  float: left;
}
.rated > input { display: none; }
.rated > label{
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rated > .half:before {
  content: "\f005";
  /*position: absolute;*/
}
.rated > .halfs:after {
  content: "\f089";
  /*position: absolute;*/
}

.rated > label {
  color: #FFD700; /* Gold */
 /*float: right;*/
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* Gold hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } /* Faded Gold */
