/* RESET */
*{
  margin: 0px;
  padding: 0px;
}
body{
  text-align: center;
  margin: 20px;
}
.randomWord{
  border: 3px solid black;
  margin-left: calc(50% - 150px);
  width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}
