<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Learning to use forms</title>
  </head>
  <form action="process.php" method="post">
    <h1>Car Registration Form</h1>
    <p></p>
    <label for="make">Car Make:</label>
    <input type="text" id="make" name="make">
    <p></p>
    <label for="model">Model:</label>
    <input type="text" id="model" name="model">
    <p></p>
    <label for="year">Year:</label>
    <input type="text" id="year" name="year">
    <p></p>
    <label for="color">Color</label>
    <select id="color" name="color">
      <option value="Red">Cherry Red</option>
      <option value="Blue">Midnight Blue</option>
      <option value="Green">Money Green</option>
      <option value="Orange">Fire Red</option>
    </select>
    <p></p>
    <input type="submit" value="Submit">
  </form>
</html>
