<!DOCTYPE html>
<html lang='en-US'>
  <head>
    <meta charset="utf-8">
    <title>Twerk Index Page</title>
    <style media="screen">
      #blue{
        margin: 80px;
        color: blue;
      }
      #green{
        margin: 80px;
        color: green;
      }
      #red{
        margin: 80px;
        color: red;
      }
    </style>
  </head>
  <body>
    <h1 id='blue'>Twerk Twerk Twerk Twerk Twerk!</h1>
    <h1 id='green'>Twerk Twerk Twerk Twerk Twerk!</h1>
    <h1 id='red'>Twerk Twerk Twerk Twerk Twerk!</h1>
  </body>
</html>
