.main {
    width: 100%;
    border: 3px solid black;
    padding: 10px;
    background-color: #CCCCCC;
}

input {
    display: inline-block;
    width: 75%;
}

.listings {
    height: 475px;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border: 3px solid black;
    overflow: scroll;
}

.bikeItem {
    margin: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    background-color: #CCCCCC;
    border: 3px solid black;
}

.image,
.description,
.price {
    display: inline-block;
    vertical-align: top;
}

.price {
    width: 10%;
}

.description {
    margin: 20px;
    width: 53%;
}

.delete {
    width: 100%;
    background-color: red;
    color: white;
    box-shadow: 3px 3px 3px black;
    margin-top: 5px;
}

.contact {
    width: 75%;
    background-color: rgba(217, 255, 0, 0.71);
    color: steelblue;
    box-shadow: 3px 3px 3px black;
    margin-top: 5px;
}

.modal-backdrop {
    opacity: 0.5 !important;
}

h3 {
    color: steelblue;
}