<!DOCTYPE html>
<html lang='en-US'>
  <head>
    <meta charset="utf-8">
    <title>Survey Results</title>
  </head>
  <body>
    <h1>Survey Results</h1>
    <p>Name: <%= postData.name %></p>
    <p>Email: <%= postData.email %></p>
  </body>
</html>
