<html>
<body>
    <h2>Here are all the users:</h2>
    <% for (const personObj of users) { %>
        <h3>Name: <%= personObj.name %></h3>
        <h4>Email: <%= personObj.email %></h4>
        <hr>
    <% } %>
</body>
</html>
