<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Ninja Game Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ninja.css') }}">
  </head>
  <body>
      <h2 id="myGold">Your Gold:</h2>
      <div class="purse"> <p>{{ session['gold'] }}</p></div>
      <div class="tasks">
        <div class="earnmethod">
          <h1>Farm</h1>
          <p>(earns 10-20 gold)</p>
          <form class="earn" action="/process_money" method="post">
            <input type="hidden" name="earntype" value="farm">
            <input type="submit" value="Find Gold!">
          </form>
        </div>
        <div class="earnmethod">
          <h1>Cave</h1>
          <p>(earns 5-10 gold)</p>
          <form class="earn" action="/process_money" method="post">
            <input type="hidden" name="earntype" value="cave">
            <input type="submit" value="Find Gold!">
          </form>
        </div>
        <div class="earnmethod">
          <h1>House</h1>
          <p>(earns 2-5 gold)</p>
          <form class="earn" action="/process_money" method="post">
            <input type="hidden" name="earntype" value="house">
            <input type="submit" value="Find Gold!">
          </form>
        </div>
        <div class="earnmethod">
          <h1>Casino</h1>
          <p>(earns/takes 0-50 gold)</p>
          <form class="earn" action="/process_money" method="post">
            <input type="hidden" name="earntype" value="casino">
            <input type="submit" value="Find Gold!">
          </form>
        </div>
      </div>
      <h3>Activities:</h3>
      <div class="activities">
        {% for entry in session['log'] %}
          {% if entry.earnedGold == True %}
              <p id="earned"> {{ entry.logdata }} </p>
          {% else %}
                <p id="lost"> {{ entry.logdata }} </p>
          {% endif %}
        {% endfor %}
      </div>
  </body>
</html>
