<!DOCTYPE html>
<html lang='en-US'>
  <head>
    <meta charset="utf-8">
    <title></title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'secrets_app/css/main.css' %}" media="screen" title="no title"  charset="utf-8">
  </head>
  <body>
    <div class="headliner">
      <h1 id="headmsg">Most Popular Secrets...</h1>
    </div>
    <form id="goback" class="" action="/secrets/{{user.id}}" method="get">
      {% csrf_token %}
      <input id="backbutton" type="submit" value="Back">
    </form>
  </body>
  <div class="secrets">
    <h2>Recent Secrets...</h2>
    {% for secret in secrets %}
      <div class="secretDiv">
        <p>{{secret.secret}}   ({{secret.created_at|timesince}} ago) <i> {{ secret.likes.all.count }} likes</i></p>
        {% if user.first_name == secret.username.first_name and user.last_name == secret.username.last_name%}
          <p><strong>You Posted This </strong><a id='delete' href="/secrets/{{secret.id}}/{{user.id}}/delete">Delete</a></p>
        {% else %}
        {% if secret.id in likeslst %}
            <p><strong>You liked this</strong></p>
          {% else %}
            <a id='like' href="/secrets/{{secret.id}}/{{user.id}}/like">Like</a>
          {% endif %}
        {% endif %}
      </div>
    {% endfor %}
  </div>
</html>
