<!DOCTYPE html>
<html lang='en-US'>
  <head>
    <meta charset="utf-8">
    <title>Login and Registration Index Page for The Wall</title>
    <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='css/master.css') }}">
  </head>
  <body>
    <header>
      <h1>Welcome to the CodingDojo Wall</h1>
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <p class="{{ category }}">{{message}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <div class="opening">
    <h3>Please Login or Register</h3>
    <h1>Login</h1>
    <div class="loginDiv">
      <form class="login" action="/login" method="post">
        <label for="email">Email:</label>
        <input type="text" name="email" value="">
        <br>
        <label for="password">Password:</label>
        <input type="text" name="password" value="">
        <br>
        <input type="submit" value="Login">
      </form>
    </div>
    <h1>Registration Form</h1>
    <div class="registration">
      <form class="register" action="/register" method="post">
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" value="{{ session['first_name']}}">
        <br>
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name" value="{{ session['last_name'] }}">
        <br>
        <label for="email">Email:</label>
        <input type="text" name="email" value="{{ session['email'] }}">
        <br>
        <label for="password">Password:</label>
        <input type="text" name="password" value="{{ session['password'] }}">
        <br>
        <label for="">Confirm Password:</label>
        <input type="text" name="confirm_password" value="{{ session['confirm_password'] }}">
        <br>
      </div>
        <input id='submit' type="submit" value="Submit Form">
      </form>
    </div>
  </body>
</html>
