<!DOCTYPE html>
<html lang='en-US'>
  <head>
    <meta charset="utf-8">
    <title>User Page</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'beltr_app/css/main.css' %}" media="screen" title="no title"  charset="utf-8">
  </head>
  <body>
    <div class="header">
      <h1 id='welcome'>User Alias:  {{ user.first_name }}</h1>
      <a href="{% url 'home_url' user.id %}">Home</a>
      <a href="{% url 'add_book' user.id %}">Add Book and Review</a>
      <a href="{% url 'logout' %}">Logout</a>
    </div>
    <h3>Name:  {{ user.first_name }} {{ user.last_name }}</h3>
    <h3>Email:  {{ user.email }}</h3>
    <h3>Total Reviews:  {{ user.reviews.all.count }}</h3>
    <br><br><br>
    <h3>Posted Reviews on the following books:</h3>
    <div class="books">
      {% for book in reviews %}
        <a id='allBooks' href="{% url 'book_page' user.id book.book.id %}">{{ book.book.title }}</a>
      {% endfor %}
    </div>
  </body>
</html>
