.header {
    margin: 20px;
}

a {
    color: inherit;
    color: blue;
    text-decoration: underline;
    font-size: 20pt;
}

a:active {
    font-weight: bold;
}

a:hover {
    font-weight: bold;
}

.component {
    margin: 20px;
    background-color: white;
    padding: 20px;
    width: 89%;
    height: 75%;
    overflow: scroll;
}

.verticalLine {
    display: inline-block;
    border-left: 2px solid black;
}

#status {
    margin-left: 5px;
}