<!DOCTYPE html>
<html lang='en-US'>
  <head>
    <meta charset="utf-8">
    <title>Dojo Quotes Page</title>
    <link rel="stylesheet" href="master.css">
  </head>
  <body>
    <h1>Welcome to QuotingDojo!</h1>
    <div class="enterQuote">
      <form action="/quotes" method="post">
        <label for="name">Your Name:</label>
        <input type="text" name="name" value="">
        <label for="quote">Your Quote:</label>
        <textarea name="quote" rows="8" cols="40"></textarea>
    </div>
    <div class="buttonDiv1">
        <input class="button" type="submit" value="Add my quote!">
        </form>
    </div>
    <div class="buttonDiv">
      <form action="/quotes" method="get">
        <input class="button" type="submit" value="Skip to quotes!">
      </form>
    </div>
  </body>
</html>
