/* RESET */
*{
  margin: 0px;
  padding: 0px;
}
.regDiv{
  margin: 20px;
  margin-top: 48px;
  width: 325px;
  display: inline-block;
  border: 3px solid black;
  z-index: 999998;
  padding: 20px;
}
.theDiv, .secrets{
  margin: 20px;
}
.headliner{
  margin: 20px;
  display: inline-block;
}
h1{
  z-index: 999999;
  position: absolute;
  display: inline-block;
  background-color: white;
  margin: 30px;
}
#headmsg{
  position: relative;
}
h2{
  margin-bottom: 20px;
}
.loginDiv{
  margin: 20px;
  margin-top: 48px;
  width: 325px;
  display: inline-block;
  border: 3px solid black;
  z-index: 999998;
  padding: 20px;
  vertical-align: top;
}
.submit{
  width: 90px;
  margin: 20px;
  margin-left: calc(50% - 45px);
  background-color: blue;
  color: white;
  box-shadow: 3px 3px black;
  padding: 5px;
  font-size: 9pt;
}
.error{
  background-color: red;
  color: white;
  text-align: center;
  padding: 5px;
  border: 3px solid black;
  margin: 80px;
  width: 450px;
}
.success{
  color: lightgreen;
}
.secretForm{
  display: inline-block;
}
label{
  display: inline-block;
  width: 150px;
  text-align: right;
  margin: 10px;
}
#secretPost{
  margin: 20px;
  display: block;
  border: 3px solid black
}
#goback{
  margin: 20px;
  display: inline-block;
}
#backbutton{
  margin: 20px;
  margin-top: 10px;
  box-shadow: 3px 3px black;
  display: inline-block;
}
#submitSecret{
  margin: 20px;
  margin-top: 10px;
  box-shadow: 3px 3px black;
  display: inline-block;
}
#numlikes{
  display: inline-block;
  font-style: italic;
}
#popular{
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}

p{
  margin-right: 8px;
  margin-bottom: 20px;
  display: inline-block;
}
